.leaflet-routing-container {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: small;
}